@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/letters' as *;

.donate-page{
    width: 100%;
    height: fit-content;
    background-position: center;
    background-size: cover;
    background-image: url("../../assets/images/donatePageBackground.jpg");
    box-shadow: inset 2000em 2000em rgba(50, 50, 50, 0.5);
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    border-top: 3px solid #323232;
    border-bottom: 3px solid #323232;

    @include tablet{
        padding: 2rem;
    }
}