@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/letters' as *;

.header{
    background-color: #0095FF;
    
    @include tablet{
        display: flex;
        flex-direction: column;
    }

    @include desktop{
        flex-direction: row;
    }

    &__show-welcome{
        padding-top: 1rem;
        font-family: monospace;
        font-size: 1rem;
        color: #fefefe;

        @include tablet{
            font-size: 1.4rem;
        }
    }

    &__hide-welcome{
        display: none;
    }

    &__logo-button{
        background-color: #0095FF;
        border: none;
        cursor: grab;
    }

    &__login-sign-up{
        align-self: flex-start;
    }

    &__nav-links{
        display: none;

        @include tablet{
            display: flex;
            gap: 1.5rem;
            padding-right: 1rem;
            align-items: center;
            flex-wrap: nowrap;
            padding-top: 1rem;
            justify-content: center;
            padding: 1rem;
        }

        @include desktop{
            gap: 2rem;
            margin-left: 0;
        }
    }

    &__clean-earth-logo-container{
        padding-left: 1rem;
        align-self: center;
        display: flex;
        justify-content: center;

        @include tablet{
            display: normal;
            border-top: none;
            border-bottom: none;
        }
    }

    &__clean-earth-logo{
        max-width: 70%;

        @include tablet{
        }

        @include desktop{
        }
    }

    &__logo-nav-container{
        display: flex;
    }

    &__instagram-logo{
        max-width: 1.5rem;

        @include tablet{
            max-width: 2rem;
        }
    }

    &__twitter-logo{
        max-width: 1.5rem;

        @include tablet{
            max-width: 2rem;
        }
    }

    &__facebook-logo{
        max-width: 1.5rem;

        @include tablet{
            max-width: 2rem;
        }
    }

    &__contact-links-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 100%;
    }

    &__contact-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-decoration: none;
        color: #fffefe;
        padding-top: 1rem;
        flex-direction: column;
        padding-right: 1.5rem;
        border-top: 3px solid #36383C;
        border-bottom: 3px solid #36383C;
        padding: 0;
        align-items: center;
        padding: 1rem;
        align-items: flex-start;

        @include tablet{
            justify-content: flex-end;
            border-top: 3px solid #36383C;
            border-bottom: 3px solid #36383C;
            padding: 1rem;
        }

        @include desktop{
            border-top: none;
            border-bottom: none;
            padding: 0;
            padding-top: 1rem;
            padding-right: 1rem;
        }

    }

    &__contact-content-container{
        flex-direction: column;
        display: flex;
        gap: 1rem;
        align-self: flex-end;

        @include tablet{
            flex-direction: row;
        }

        @include desktop{
            align-self: flex-end;
        }
    }

    &__contact-content-container2{
        display: flex;
        gap: 1rem;
        align-self: flex-end;
        padding-top: 0.5rem;

        @include tablet{
        }

        @include desktop{
            align-self: flex-end;
        }
    }

    &__email-button{
        border: none;
        background-color: #0095FF;
        cursor: grab;
        color: #fffefe;
        font-family: 'avenir-next', sans-serif;
        font-weight: normal;
        font-size: 0.8rem;

        @include tablet{
            font-size: 1rem;
        }
    }
    
    &__phone-button{
        border: none;
        background-color: #0095FF;
        color: #fffefe;
        font-family: 'avenir-next', sans-serif;
        font-weight: normal;
        font-size: 0.8rem;

        @include tablet{
            font-size: 1rem;
        }
    }

    &__email-button:hover{
        color: #323232;
    }
    
    &__phone-button:hover{
        color: #323232;
    }

    &__icon-div{
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__phone-icon{
        max-height: 1.2rem;
    }

    &__email-icon{
        max-height: 1.3rem;
    }

    &__logout-button{
        text-align: center;
        border-radius: 0.5rem;
        background-color: #002037;
        border: none;
        font-family: "avenir-next", sans-serif;
        font-weight: bold;
        cursor: grab;
        width: 45%;
        height: 1.5rem;
        color: #fffefe;
    }

    &__logout-button-hidden{
        display: none;
    }

    &__login-button{
        font-size: 0.8rem;
        text-align: center;
        border-radius: 0.5rem;
        background-color: #002037;
        border: none;
        font-family: "avenir-next", sans-serif;
        font-weight: bold;
        cursor: grab;
        width: 100%;
        color: #fffefe;
        padding: 0.5rem;
    }

    &__login-button-hidden{
        display: none;
    }

}

a{
    color: #fffefe;
    text-decoration: none;
    font-family: 'avenir-next', sans-serif;
    font-weight: normal;

    @include tablet{
        font-size: 1.2rem;
    }

    @include desktop{
        font-size: 1.3rem;
    }

}

.active{
    border-bottom: 0.1rem solid #E0E2DB;
    font-weight: bold;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;

    @include tablet{
        display: none;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #fefefe;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;

    @include tablet{
        display: none;
    }
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    height: 89% !important;

    @include tablet{
        display: none;
    }
  }
  
  /* General sidebar styles */
  .bm-menu {
    font-size: 1.15em;
    height: 45% !important;
    background: #002037;
    font-size: 1.15em;
    height: 45% !important;
    border: 3px solid #fefefe;
    border-radius: 1rem;


    @include tablet{
        display: none;
    }
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .bm-overlay{
    display: none;
    // position: absolute !important;
    // height: 45% !important;
  }




