@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/letters' as *;

.App{
    height: 1rem;
}

.map-container{
    width: 100%;
    height: 100vh;
}

.gm-svpc{
    display: none;
}

.gm-fullscreen-control{
    display: none;
}

.map-header{
    font-size: 0.9rem;
    font-family: "avenir-next", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fefefe;
    max-width: 31ch;


    @include tablet{
        font-size: 1rem;
        align-self: flex-end;
        max-width: 60ch;
    }

    @include desktop{
        font-size: 1.5rem;
    }
}

.map-par{
    font-size: 0.8rem;
    font-family: "avenir-next", sans-serif;
    font-weight: normal;
    text-align: center;
    color: #fefefe;
    max-width: 31ch;


    @include tablet{
        max-width: 60ch;
        font-size: 0.75rem;
    }

    @include desktop{
        font-size: 1.1rem;
    }
}

.map-par-mobile{
    font-size: 0.8rem;
    font-family: "avenir-next", sans-serif;
    font-weight: normal;
    text-align: center;
    color: #fefefe;
    max-width: 31ch;

    @include tablet{
        max-width: 60ch;
        font-size: 0.75rem;
    }

    @include desktop{
        font-size: 1.1rem;
    }

}

.above-map-container{
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 3px solid #323232;
    justify-content: space-between;
    padding: 3.5rem 0.5rem 0rem 0.5rem;
    background-color: #002037;
    border-bottom: 3px solid #323232;

    @include tablet{
        gap: 0rem;
        flex-direction: row;
    }

    @include desktop{
        padding: 3.5rem 3rem 0rem 3rem;
    }

}

.par-container-above-map{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include tablet{
        gap: 0rem;
    }

}

.gm-style-moc{
    display: none;
}

.gmnoprint {
    display: none;
}

.gm-style {
    background-color: #002037;
}


img:hover[src="https://maps.gstatic.com/mapfiles/transparent.png"]{
    box-shadow: rgb(0 149 255 / 50%) 5em 5em inset;
    border-radius: 20rem;
}

.map-join-par{
    font-size: 0.9rem;
    color: #fefefe;
    position: absolute;
    top: 0.5rem;
    left: 40%;
    background-color: #0095FF;
    padding: 0.5rem;
    border-radius: 1rem;
    font-family: "avenir-next", sans-serif;
    font-weight: bold;

    @include tablet{
        font-size: 1rem;
    }
}

.map-join-par-hidden{
    display: none;
}




